<div id="modal-container">	
	<form method="post" action="#">
		<fieldset>
			<label>
				Name:
				<input type="text" name="name" required>
			</label>
			<label>
				Color #1:
				<input type="text" name="color1" required>
			</label>
			<label>
				Color #2:
				<input type="text" name="color2" required>
			</label>
			<label>
				Color #3:
				<input type="text" name="color3" required>
			</label>
		</fieldset>
		<fieldset>
			<button id="addBtn" type="submit">Add</button>
			<button id="cancelBtn">Cancel</button>
		</fieldset>
	</form>
</div>